.category {
  height: 350px;
  width: 100%;
  max-width: 350px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px; /* Add padding to the category container if needed */
  margin: 20px; /* Add margin to increase the gap between elements */
}

.category img {
  display: block; /* Ensure the image is treated as a block element */
  margin: 20px auto; /* Center the image horizontally and add vertical margin */
  width: 80%; /* Reduce the width of the image */
  object-fit: contain;
  max-height: 200px;
  padding: 10px; /* Maintain the same padding */
}

.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.category h2,
.category p {
  padding: 5px;
  margin-left: 15px;
}

.category p {
  font-size: 19px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}

.category__container {
  position: relative;
  margin-top: -10%;
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  place-items: center;
}